{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br class="hide-in-mobile">
<br class="hide-in-mobile">
<br class="hide-in-mobile">
<br class="hide-in-mobile">
<br class="hide-in-mobile">
<div class="container d-flex justify-content-center mt-4">
	<div class="card border-secondary mb-3 my-alert-card">
		<div class="card-header text-center">-- 404 --</div>
		<div class="card-body text-secondary">
			<h3 class="card-title text-center">صفحه مورد نظر پیدا نشد!</h3>
			<div class="container pt-2 justify-content-center d-flex mx-auto">
				<a href="/"><button class="mybtn-secondary btn btn-secondary d-inline"><i class="fas fa-home"></i> برگشت به صفحه اصلی </button></a>
			</div>
		</div>
	</div>
</div>
<br class="hide-in-mobile">
<br class="hide-in-mobile">
<br class="hide-in-mobile">
{% endblock content %}
