{% load jformat %}

{% autoescape off %}
سلام {{user.first_name}} {{user.last_name}} عزیز
وضعیت پست شما به "{{post.get_status}}" تغییر کرده است!

عنوان پست: {{post.title}}
آدرس پست در پنل مدیریت: https://ceckiau.ir{% url 'app-main:show-post' id=post.id %}{% if post.publish and post.status == 2 %}
آدرس پست در بلاگ سایت: https://ceckiau.ir{{ post.get_absolute_url }}{% endif %}
تاریخ ایجاد: {{post.DateCreate | jformat:"%d / %m / %Y"}} - {{post.TimeCreate |time:"H:i"}}
تاریخ آخرین ویرایش: {{post.LastEdit | jformat:"%d / %m / %Y - %H:%M"}}
وضعیت پست: {{post.get_status}}{% if post.show_author %}
نمایش نام نویسنده در سایت: بله{% else %}
نمایش نام نویسنده در سایت: خیر{% endif %}{% if post.publish and post.status == 2 %}
انتشار در سایت: بله{% else %}
انتشار در سایت: خیر{% endif %}


به امید پیشرفت در کنار هم
انجمن علمی مهندسی کامپیوتر
دانشگاه آزاد اسلامی واحد کرج
{% endautoescape %}
