{% extends "base.html" %}
{% load static %}

{% block css-link %}
	{{ block.super }}
{% endblock css-link %}

{% block content %}

<br>
<br>
<br>
<br>
<br class="hide-in-mobile">

{% if password_is_not_ok %}
<div class="container">
	<nav aria-label="breadcrumb">	
		<ol class="breadcrumb">
			<p> <i class="fa fa-caret-left" aria-hidden="true"></i> شما اینجا هستید:  &nbsp  &nbsp </p> 
			<li class="breadcrumb-item"><a href="/" class="cec-text-pyblue">خانه</a></li>
			<li class="breadcrumb-item"><a href="/user/reset-password/" class="text-primary">فراموشی کلمه عبور</a></li>
			<li class="breadcrumb-item active" aria-current="page">ایجاد کلمه عبور جدید</li>
		</ol>
	</nav>
</div>
<div class="container">
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>کلمه عبور</strong> با <strong>تکرار کلمه عبور</strong> یکسان نمی باشد !
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
<div class="container my_profile_panel">
	<form action="." method="POST">
		{% csrf_token %}
			<div class="row p-4">
				<div class="col-lg-4 col-md-5 col-12 my_col mx-auto">
					<div class="form-group mb-4">
						<label class="mylabel justify-content-center  d-flex" for="formGroupExampleInput"> <i class="fas fa-lock justify-content-center align-self-center mr-1 ml-1"></i>  کلمه عبور جدید</label>
						<input name="cecpassword" type="password" class="form-control" id="formGroupExampleInput" required dir="ltr">
					</div>
					<div class="form-group mb-4">
						<label class="mylabel justify-content-center  d-flex" for="formGroupExampleInput"> <i class="fas fa-lock justify-content-center align-self-center mr-1 ml-1"></i>  تکرار کلمه عبور جدید</label>
						<input name="cecpassword-repeat" type="password" class="form-control" id="formGroupExampleInput" required dir="ltr">
					</div>
				</div>
				<div class="col-12">
					<button type="submit" class="mybtn-success btn btn-success d-flex mx-auto justify-content-center" style="width: 160px"><i class="fas fa-reply justify-content-center align-self-center mr-1 ml-1 "></i> ثبت کلمه عبور</button>
				</div>
			</div>
	</form>
</div>
{% elif password_is_ok %}
<div class="container d-flex justify-content-center mt-4">
		<div class="card border-success mb-3 my-alert-card">
		  <div class="card-header text-center"> -- فراموشی کلمه عبور --</div>
		  <div class="card-body text-secondary">
			<h4 class="card-title text-center text-success">کلمه عبور با موفقیت تغییر یافت !</h4>
			<div class="container pt-2 justify-content-center d-flex mx-auto">
				<a ><button class="btn cec-btn-pyblue mybtn-dark d-inline" data-toggle="modal" data-target="#loginModal"><i class="fas fa-home"></i> ورود به سایت</button></a>
			</div>
		  </div>
		</div>
	</div>
{% endif %}

{% if code_was_true %}

<div class="container">
	<nav aria-label="breadcrumb">	
		<ol class="breadcrumb">
			<p> <i class="fa fa-caret-left" aria-hidden="true"></i> شما اینجا هستید:  &nbsp  &nbsp </p> 
			<li class="breadcrumb-item"><a href="/" class="cec-text-pyblue">خانه</a></li>
			<li class="breadcrumb-item"><a href="/user/reset-password/" class="text-primary">فراموشی کلمه عبور</a></li>
			<li class="breadcrumb-item active" aria-current="page">ایجاد کلمه عبور جدید</li>
		</ol>
	</nav>
</div>
<div class="container">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		هم اکنون میتوانید کلمه عبور جدید خود را ثبت کنید <i class="fas fa-lock-open justify-content-center align-self-center "></i> 
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
<div class="container my_profile_panel">
	<form action="." method="POST">
		{% csrf_token %}
			<div class="row p-4">
				<div class="col-lg-4 col-md-5 col-12 my_col mx-auto">
					<div class="form-group mb-4">
						<label class="mylabel justify-content-center  d-flex" for="formGroupExampleInput"> <i class="fas fa-lock justify-content-center align-self-center mr-1 ml-1"></i>  کلمه عبور جدید</label>
						<input name="cecpassword" type="password" class="form-control" id="formGroupExampleInput" required>
					</div>
					<div class="form-group mb-4">
						<label class="mylabel justify-content-center  d-flex" for="formGroupExampleInput"> <i class="fas fa-lock justify-content-center align-self-center mr-1 ml-1"></i>  تکرار کلمه عبور جدید</label>
						<input name="cecpassword-repeat" type="password" class="form-control" id="formGroupExampleInput" required>
					</div>
				</div>
				<div class="col-12">
					<button type="submit" class="mybtn-success btn btn-success d-flex mx-auto justify-content-center" style="width: 160px"><i class="fas fa-reply justify-content-center align-self-center mr-1 ml-1 "></i> ثبت کلمه عبور</button>
				</div>
			</div>
	</form>
</div>
{% elif code_was_false %}
<div class="container">
	<nav aria-label="breadcrumb">	
		<ol class="breadcrumb">
			<p> <i class="fa fa-caret-left" aria-hidden="true"></i> شما اینجا هستید:  &nbsp  &nbsp </p> 
			<li class="breadcrumb-item"><a href="/" class="cec-text-pyblue">خانه</a></li>
			<li class="breadcrumb-item"><a href="/user/reset-password/" class="text-primary">فراموشی کلمه عبور</a></li>
			<li class="breadcrumb-item active" aria-current="page">ارسال کد</li>
		</ol>
	</nav>
</div>

<div class="container">
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>کد امنیتی</strong> وارد شده صحیح نمی باشد <i class="fas fa-shield-alt justify-content-center align-self-center "></i> 
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

<div class="container my_profile_panel">
	<form action="." method="POST">
		{% csrf_token %}
			<div class="row p-4">
				<div class="col-lg-4 col-md-5 col-12 my_col mx-auto">
					<div class="form-group mb-4">
						<label class="mylabel justify-content-center  d-flex" for="formGroupExampleInput"> <i class="fas fa-user-secret justify-content-center align-self-center mr-1 ml-1"></i>  کد امنیتی را وارد نمایید</label>
						<input name="cec_reset_code" type="number" class="form-control w-50 mx-auto d-flex mt-3" id="formGroupExampleInput" required>
					</div>
                    <div class="bibot-captcha mb-3" data-sitekey="ae57cbdb16c5c6de696c7ce153ffe873" data-lang="fa"></div>
				</div>
				<div class="col-12">
					<button type="submit" class="mybtn-success btn btn-success d-flex mx-auto justify-content-center" style="width: 140px"><i class="fas fa-reply justify-content-center align-self-center mr-1 ml-1 "></i> تایید</button>
				</div>
			</div>
	</form>
</div>

{% elif bibot_was_false %}
<div class="container">
	<nav aria-label="breadcrumb">	
		<ol class="breadcrumb">
			<p> <i class="fa fa-caret-left" aria-hidden="true"></i> شما اینجا هستید:  &nbsp  &nbsp </p> 
			<li class="breadcrumb-item"><a href="/" class="cec-text-pyblue">خانه</a></li>
			<li class="breadcrumb-item"><a href="/user/reset-password/" class="text-primary">فراموشی کلمه عبور</a></li>
			<li class="breadcrumb-item active" aria-current="page">ارسال کد</li>
		</ol>
	</nav>
</div>

<div class="container">
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>تایید هویت</strong> معتبر نمی باشد <i class="fas fa-shield-alt justify-content-center align-self-center "></i> 
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

<div class="container my_profile_panel">
	<form action="." method="POST">
		{% csrf_token %}
			<div class="row p-4">
				<div class="col-lg-4 col-md-5 col-12 my_col mx-auto">
					<div class="form-group mb-4">
						<label class="mylabel justify-content-center  d-flex" for="formGroupExampleInput"> <i class="fas fa-user-secret justify-content-center align-self-center mr-1 ml-1"></i>  کد امنیتی را وارد نمایید</label>
						<input name="cec_reset_code" type="number" class="form-control w-50 mx-auto d-flex mt-3" id="formGroupExampleInput" required>
					</div>
                    <div class="bibot-captcha mb-3" data-sitekey="ae57cbdb16c5c6de696c7ce153ffe873" data-lang="fa"></div>
				</div>
				<div class="col-12">
					<button type="submit" class="mybtn-success btn btn-success d-flex mx-auto justify-content-center" style="width: 140px"><i class="fas fa-reply justify-content-center align-self-center mr-1 ml-1 "></i> تایید</button>
				</div>
			</div>
	</form>
</div>
{% endif %}

{% if not code_was_sent and not code_was_true and not code_was_false and not password_is_ok and not password_is_not_ok and not bibot_was_false%}
<div class="container">
	<nav aria-label="breadcrumb">	
		<ol class="breadcrumb">
			<p> <i class="fa fa-caret-left" aria-hidden="true"></i> شما اینجا هستید:  &nbsp  &nbsp </p> 
			<li class="breadcrumb-item"><a href="/" class="cec-text-pyblue">خانه</a></li>
			<li class="breadcrumb-item active" aria-current="page">فراموشی کلمه عبور</li>
		</ol>
	</nav>
</div>
{% if email_is_not_exist %}
<div class="container">
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		این <strong>پست الکترونیکی</strong> در سایت ثبت نشده است !
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
{% endif %}
<div class="container my_profile_panel">
	<form action="." method="POST">
		{% csrf_token %}
			<div class="row p-4">
				<div class="col-lg-4 col-md-5 col-12 my_col mx-auto">
					<div class="form-group mb-4">
						<label class="mylabel justify-content-center  d-flex" for="formGroupExampleInput"> <i class="far fa-envelope justify-content-center align-self-center mr-1 ml-1"></i>  پست الکترونیکی خود را وارد نمایید</label>
						<input name="cecemail" type="email" class="form-control" id="formGroupExampleInput" required dir="ltr">
					</div>
				</div>
				<div class="col-12">
					<button type="submit" class="mybtn-success btn btn-success d-flex mx-auto justify-content-center" style="width: 140px"><i class="fas fa-reply justify-content-center align-self-center mr-1 ml-1 "></i> ارسال کد</button>
				</div>
			</div>
	</form>
</div>
{% endif %}



{% if code_was_sent and not bibot_was_false %}
<div class="container">
	<nav aria-label="breadcrumb">	
		<ol class="breadcrumb">
			<p> <i class="fa fa-caret-left" aria-hidden="true"></i> شما اینجا هستید:  &nbsp  &nbsp </p> 
			<li class="breadcrumb-item"><a href="/" class="cec-text-pyblue">خانه</a></li>
			<li class="breadcrumb-item"><a href="/user/reset-password/" class="text-primary">فراموشی کلمه عبور</a></li>
			<li class="breadcrumb-item active" aria-current="page">ارسال کد</li>
		</ol>
	</nav>
</div>

<div class="container">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<strong>کد امنیتی</strong> به ایمیل شما ارسال شد <i class="far fa-check-circle justify-content-center align-self-center "></i> 
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

<div class="container my_profile_panel">
	<form action="." method="POST">
		{% csrf_token %}
			<div class="row p-4">
				<div class="col-lg-4 col-md-5 col-12 my_col mx-auto">
					<div class="form-group mb-4">
						<label class="mylabel justify-content-center  d-flex" for="formGroupExampleInput"> <i class="fas fa-user-secret justify-content-center align-self-center mr-1 ml-1"></i>  کد امنیتی را وارد نمایید</label>
						<input name="cec_reset_code" type="number" class="form-control w-50 mx-auto d-flex mt-3" id="formGroupExampleInput" required dir="ltr">
					</div>
				</div>
				<div class="col-12">
					<button type="submit" class="mybtn-success btn btn-success d-flex mx-auto justify-content-center" style="width: 140px"><i class="fas fa-reply justify-content-center align-self-center mr-1 ml-1 "></i> تایید</button>
				</div>
			</div>
	</form>
</div>
{% endif %}





<br>

{% endblock content %}
